/* Css Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generali*/

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}
/*Utilities*/
.blu{
    background-color: blue;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-big{
    max-width: 1440px;
    margin: 0 auto;
}

.border{
    border: 2px dashed black;
}
.border-red{
    border: 2px dashed red;

}
.flex{
    display: flex;
}

/*header*/
header{
    background-color:#B4D0E7;
    padding-top:150px;
    min-height: 600px;
    margin-top: 80px;
}

h1{
    min-height: 100px;
}

.jumbotron{
    min-height: 350px;
}

.jumbotron-description{
    flex-basis: 40%;
}

.jumbotron-img{
    flex-basis: 60%;
}

/*Nav bar*/

.nav-bar{
    position: fixed;
    top:0;
    right:0;
    left: 0;
    min-height:80px;
}

.navsection-bar{
    flex-basis: 50%;
}

.contacts-account-bar{
    flex-basis: 50%;
}

/*main*/

/*section business planes*/

.section-business{
    padding-top: 90px;
}

h2{
    min-height: 30px;
    border:2px dashed black;
    margin-bottom: 40px;
    background-color: blue;
}

.selection-facturation{
    min-height: 30px;
    margin-bottom: 30px;
    
}

.list-plans{
    min-height: 1400px;
    flex-wrap: wrap;
    margin: 0 -1rem;
    gap:60px;
}

.list-plans .col{
    flex-basis:calc(100% /3 - 40px);
    padding: 1rem;
    min-height: 300px;
}

.list-plans .col-big{
    flex-basis: 100%;
    padding: 1rem;
}

/* section contact partner*/

.find-partner{
    min-height: 500px;
    padding-top: 120px;
}

.img-find-partner{
    flex-basis:60%;
}

.descriprion-find-partner{
    flex-basis: 40%;
}

/*section operations with dropbox*/

.operations{
    min-height: 600px;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.operations .col{
    flex-basis: calc(100%/3);
    padding: 1rem;
    border:2px dashed red;
}

.operation-box h2{
    margin-top: 100px;
    margin-bottom: 40px;
}

/*section dropbox clients*/

.dropbox-clients{
    min-height: 400px;
    margin-top: 100px;
}

.dropbox-clients h2{
    margin-top: 100px;
    margin-bottom: 40px;
    min-height: 90px;
}

.dropbox-clients a{
    display: block;
    margin-top: 100px;
    min-height: 30px;
    width: 30%;
    background-color: blueviolet;

}

/*section dropbox partners*/

.dropbox-partners{
    min-height: 500px;
}

.dropbox-partners >*{
    flex-basis:calc(100% / 3);
    border:2px dashed red;
}
.right-panel , .left-panel{
    flex-wrap: wrap;

}

.img-partner{
    border:2px dashed red;
    flex-basis: 50%;
}

/*section free trial*/

.free-trial-section{
    background-color: #B4D0E7;
    min-height: 500px;
    padding-top: 60px;
}

.free-trial-box{
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
}


.free-trial-box >*{
    min-height: 40px;
    width: 30%;
}

/*section FAQ*/

.faq-section{
    padding-top: 60px;
}

.faq-box{
    min-height:300px;
    flex-wrap: wrap;
}

.faq-box > *{
    flex-basis: 100%;
    border:2px dashed red;
    height:30px;
}