/* Css Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generali*/

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
    display: block;
}
/*Utilities*/
.blu{
    background-color: blue;
}

.container{
    max-width:60%;
    margin: 0 auto;
}

.container-big{
    max-width: 70%;
    margin: 0 auto;
}

.border{
    border: 2px dashed black;
}
.border-red{
    border: 2px dashed red;

}
.flex{
    display: flex;
}

.button-blu{
    background-color: #0061FF;
    color:white;
    font-size: 23px;
    padding: 10px 15px;
    border: none;
}

/*utilities style or dimension*/

.mb-30{
    margin-bottom: 30px;
}

.bold{
    font-weight: bold;
}
/*header con nav-bar*/

#main-header {
    position: sticky;
    top:0;
    left: 0;
    background-color: white;
    z-index: 1;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;

}

.navbar-left ul{
    display: flex;
    gap:20px;
    align-items: center;
}

.navbar-right ul{
    display: flex;
    gap:20px;
    justify-content: flex-end;
    align-items: center;
}

li a{
    text-decoration: none;
    color: #8E8E8E;
}

/*main*/

/*jumbotron*/

#jumbotron-section{
    background-color:#B4D0E7;
    padding-top:70px;
    margin-bottom: 200px;
}


#jumbotron-section .container-big{
    position: relative;
    top:100px;
}

h1{
    font-size: 7rem;
    margin-bottom: 60px;
}

.jumbotron-description{
    flex-basis: 30%;
    font-size: 26px;
    line-height:1.3;
}

.jumbotron-img-box{
    flex-basis: 70%; 
}

.jumbotron-description .fa-arrow-down{
    margin-top: 60px;
}

/*section business planes*/

.section-business h2{
    font-size: 50px;
    margin-bottom: 40px;
}

.selection-facturation{
    justify-content: flex-start;
    gap:40px;
    font-size: 24px;
    margin-bottom: 30px;
}

.list-plans{
    flex-wrap: wrap;
    margin: 0 -1rem;
    align-items: stretch;
}

.list-plans .col{
    flex-basis:calc(100% /3);
    padding: 1rem;
}

.list-plans .col-big{
    flex-basis: 100%;
    padding: 1rem;
}

.group-type{
    text-align: center;
    border:1px solid lightgray;
    padding:15px;
}


.type-offer{
    border:1px solid lightgray;
    padding: 25px;
    line-height: 1.5;
    position: relative;
}

.type-offer > *{
    margin-bottom: 10px;
}

.period{
    font-size: 16px;
    color:#D6DADB;
    margin-bottom: 40px;
}

.free-trial-button{
    margin-top: 30px;
    margin-bottom: 30px;
}

.divider-small{
    background-color: #D6DADB;
    height: 2px;
    width: 60px;
    margin:40px 0;
}

.name-list{
    margin-bottom:30px ;
}
.ul-plane li{
    margin-bottom: 20px;
}


.personalized-solutions{
    margin-top: 60px;
    width: 60%;
}

.col-big .free-trial-button{
    position:absolute;
    right:20px;
    top:0;
}

/* section contact partner*/

.find-partner{
    min-height: 500px;
    padding-top: 120px;
}

.img-find-partner{
    flex-basis:60%;
}

.descriprion-find-partner{
    flex-basis: 40%;
    padding: 70px;
}

.descriprion-find-partner h3{
    font-size: 28px;
    margin-bottom:20px;
}

.descriprion-find-partner p{
    font-size: 20px;
}

.button{
    background-color: white;
    color:grey;
    border: 1px solid black;
    padding:10px 15px;
    margin-top:30px;
}

/*section operations with dropbox*/

.operations{
    min-height: 600px;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.operations .col{
    flex-basis: calc(100%/3);
    padding: 1rem;
}

.operation-box h2{
    margin-top: 150px;
    margin-bottom: 40px;
    font-size: 36px;
}

.card-description{
    padding: 20px;
}


.card-description h4{
    font-size: 24px;
    margin-bottom: 30px;
}

.card-description p{
    line-height: 1.3;
    font-size: 18px;
}


/*section dropbox clients*/

.dropbox-clients{
    min-height: 400px;
    margin-top: 100px;
}

.dropbox-clients h2{
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 40px;
    max-width: 45%;
}

.dropbox-clients a{
    display: block;
    width: 30%;
    color:#5533F1;

}

/*section dropbox partners*/

.dropbox-partners{
    min-height: 500px;
}

.dropbox-partners >*{
    flex-basis:calc(100% / 3);
    border:2px dashed red;
}
.right-panel , .left-panel{
    flex-wrap: wrap;

}

.img-partner{
    border:2px dashed red;
    flex-basis: 50%;
}

/*section free trial*/

.free-trial-section{
    background-color: #B4D0E7;
    min-height: 500px;
    padding-top: 60px;
}

.free-trial-box{
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
}


.free-trial-box >*{
    min-height: 40px;
    width: 30%;
}

/*section FAQ*/

.faq-section{
    padding-top: 60px;
}

.faq-box{
    min-height:300px;
    flex-wrap: wrap;
}

.faq-box > *{
    flex-basis: 100%;
    border:2px dashed red;
    height:30px;
}

/*Footer*/

footer{
    background-color: black;
    color:white;
    min-height: 600px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.box-footer{
    border: 2px dashed white;
    min-height: 500px;
}

.box-footer > *{
    border: 2px dashed white;
    min-height: 300px;
    flex-basis: calc(100% / 5);
}

.language-selection{
    min-height: 40px;
    border: 2px dashed white;
    margin-top: 100px;
}
