/* Css Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generali*/

body{
    font-family: 'Open Sans', sans-serif;
}

/*Utilities*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-big{
    max-width: 1440px;
    margin: 0 auto;
}

.border{
    border: 2px dashed black;
}

.flex{
    display: flex;
}

/*header*/
header{
    background-color:#B4D0E7;
    padding-top:150px;
    min-height: 600px;
    margin-top: 80px;
}

h1{
    min-height: 100px;
}

.jumbotron{
    min-height: 350px;
}

.jumbotron-description{
    flex-basis: 40%;
}

.jumbotron-img{
    flex-basis: 60%;
}

/*Nav bar*/

.nav-bar{
    position: fixed;
    top:0;
    right:0;
    left: 0;
    min-height:80px;
}

.navsection-bar{
    flex-basis: 50%;
}

.contacts-account-bar{
    flex-basis: 50%;
}